<div class="container-fluid text-center mt-5">
  <div class="row justify-content-center">
    <form class="form-signin">
      <img class="mb-4" src="assets/coruja_filmes.png" alt="" width="84" height="84">
      <h1 class="h3 mb-4 font-weight-normal">Faça seu acesso</h1>
      <button class="btn btn-lg btn-warning btn-block mb-3" (click)="temporaryTokenPermissionOnClick()" type="submit"><b>Conectar TMDb</b></button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
  </div>
</div>
